
<div class="bg-img">
    <img src="../../../assets/images/contact-us-bg.png" alt="">
</div>
<div class="container">
    <div class="mx-auto p-8 lg:flex  relative z-10">
        <div class="lg:w-1/2">
          <h1 class="font-syne text-2xl font-semibold text-center md:text-left md:ml-28 mb-4 text-gray-200">Newsletter</h1>
          <p class="font-work-sans text-lg font-normal text-center mb-6 md:text-left md:ml-28 text-gray-200">Get news about articles and updates in your inbox.</p>
        </div>
        <div class="md:ml-16">
          <form (submit)="onSubmit()">
            <input class="w-full p-2 mb-4 bg-transparent border-b-2 border-gray-300 outline-none focus:border-indigo-600 transition duration-300 ease-in-out underline-input" type="text" placeholder="NAME" [(ngModel)]="formData.name" name="name">
            <input class="w-full p-2 mb-4 bg-transparent border-b-2 border-gray-300 outline-none focus:border-indigo-600 transition duration-300 ease-in-out underline-input" type="email" placeholder="EMAIL" [(ngModel)]="formData.email" name="email">
            <textarea class="w-full p-2 mb-4 bg-transparent border-b-2 border-gray-300 outline-none focus:border-indigo-600 transition duration-300 ease-in-out underline-input" placeholder="MESSAGE" [(ngModel)]="formData.message" name="message"></textarea>
    
          </form>
        </div>
      
       
      </div>

      <div class="container lg:w-1/2 pl-11 md:pl-40" style="margin-top: -100px;">
        <div class="send-btn">Send</div>
        <div style="position: absolute;">
            <h1 class="font-syne text-6xl md:text-9xl font-bold mb-4">GET</h1>
            <h1 class="font-syne text-6xl md:text-9xl md:inline md:mr-7 font-bold mb-4">IN</h1>
            <h1 class="font-syne text-6xl md:text-9xl md:inline font-bold mb-4">TOUCH</h1>
        </div>
      
        
      </div>
    
</div>

 
  