<div class="upper-header flex justify-between md:px-16 px-8">
    <div class="flex justify-between items-center">
        <img src="../../../assets/images/free-del-img.png" alt="">
        <span class="upper-header-text mx-1 md:mx-2">Free Delivery</span>
        <span class="mx-1">|</span>
        <span class="upper-header-text mx-1 md:mx-2">Return Policy</span>
    </div>

    <div class="flex justify-between items-center">
        <span class="upper-header-text-right mx-3 md:mx-4">Login</span>
        <span class="upper-header-text-right mx-2 md:mx-3">Follow US</span>
        <img class="mx-1 md:mx-2" src="../../../assets/images/facebook-icon.png" alt="">
        <img class="mx-1 md:mx-2" src="../../../assets/images/linkedin-icon.png" alt="">
        <img class="mx-1 md:mx-2" src="../../../assets/images/twitter-icon.png" alt="">
        <img class="md:mx-2" src="../../../assets/images/instagram-icon.png" alt="">
    </div>
</div>
