<div class="home-page ">

    <div class="text ml-16">
        <h1 class="heading-1">Fresh</h1>
        <h2 class="heading-2">2022</h2>
        <h1  class="heading-3">Look</h1>

       
    </div>

    <div class="md:pt-20 pt-10">
        <span class="see-more-btn" style="padding: 3px; margin: 20px;; border: 1px solid white;">See More ↗</span>
    </div>
   
    

<div class="img-container">
    <img class="model-pic " src="../../../assets/images/Group-15.png" alt="">
</div>
  
</div>

<app-products></app-products>
<app-contact-us></app-contact-us>